body {
    margin: 0;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.header {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    position: relative;
}

.header__name {
    display: inline-block;
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #ddd;
    top: 7px;
    left: 7px;
}

.header__music {
    color: #005c2b;
}