body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: black;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
}

.header {
    background-color: rgba(0,0,0,0.5);
    height: 50px;
    position: relative;
}

.header__name {
    display: inline-block;
    position: absolute;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #ddd;
    top: 7px;
    left: 7px;
}

.header__music {
    color: #005c2b;
}

.header__links {
  list-style: none;
  padding: 0;
  margin: 0;
  float: right;
  margin-top: 14px;
}

.header__link {
  display: inline-block;
}

.header__link a {
  text-decoration: none;
  margin-right: 10px;
  color: #ccc;
}

.header__link a:hover {
  color: #005c2b;
}

.video-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  opacity: 0.4;
  z-index: -99;
}

.container {
  text-align: center;
}

.content {
  position: relative;
  display: inline-block;
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

.featured__col {
  width: 50%;
  text-align: center;
}

.album-art {
  width: 100%;
}

.featured__button {
  display: block;
  border: solid #005c2b 3px;
  border-radius: 10px;
  padding: 15px;
  text-transform: uppercase;
  color: #005c2b;
  width: 240px;
  text-align: center;
  margin: 15px auto;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
    text-decoration: none;
}

.featured__button:hover {
  border-color: #ccc;
    color: #ccc;
}

.about {
  text-align: left;
  background-color: rgba(0,0,0,0.7);
  padding: 20px;
  margin: 20px 0;
  border-radius: 10px;
}

.about-text {
  color: #ccc;
  margin: 0;
}

.about-text__link {
  color: #005c2b;
}

.about-text__link:hover {
  color: #ccc;
}

@media screen and (max-width: 480px) {
  .header {
    height: 70px;
  }
  .header__name {
    position: relative;
    display: block;
    left: 10px;
  }
  .header__links {
    display: block;
    float: none;
    margin: 5px 0 0 10px;;
  }
  video {
    display: none; 
  }
  .featured__col {
    display: block;
    width: 100%;
  }
}